.login{
  /* background-image:url("../Assets/bglogo.png"); */
  background-image: url("./../Assets/bglogo.png");
  background-repeat:no-repeat;
  background-size: cover;
 width: 100vw;
 height:100vh;
 background-color: hsla(0, 0%, 0%, 0.635);
 position: absolute;
  }
  .login_img{
    border:  solid black;
    width:500px;
    height: 600px;
    margin-top: 50px;
    margin-right: 30px;
    background-color: #000000A2;
    position: relative;
    border-radius: 10px 0px 0px 10px;
  }
  .mb-1{
    margin-top: 80px;
  }
  .login_text{
    color: #FFAA17 !important;
    font-family:Agrandir Variable, large !important;
    letter-spacing: 0px;
    margin-bottom: 100px;
    text-align: center;
    margin-left: 120px;
    font-size: 35px !important;
    font-weight: bold;
  }
  .xyz{
   margin-left: 50px;
   color: #FFFFFF;
  }
  .register{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF !important;
  }
  .cpw{
    margin-left: 100px;
    margin-top: 50px;
    color: #FFFFFF !important;
  }
  .login_space{
    width: 250px !important;
    margin-left: 50px !important;
  }
  .login .h1{
    font-family:Agrandir Variable;
    border: solid red;
    color:#FFFFFF;
  }
  .row>*{
      /* border: solid red; */
      --bs-gutter-x:0;
  }
.login_field{
 margin-left: 40px;
  margin-top: 40px;
  width: 40px;
  height: 20px;
  /* position: absolute; */
}
.loginform{
  margin-top: 50px; 
  /* margin-right:-200px ; */
 border:  solid black;
 width: 350px;
 height: 600px;
 background-color: #000000A2;
 text-align: left;
 border-radius: 0px 10px 10px 0px;
}
.login_atr{
  font-family:Agrandir Variable, Medium Wide;
  color:#FFFFFF;
  margin-left: 50px !important;
}
.button1{
  background-color: #FFAA17 !important;
  /* width: 1000px !important; */
  margin-left: 50px;
  font-family: Agrandir Variable, Bold;
}
.button2{
  background-color:#000000 !important;
  width: 90px !important;
  /* margin-left: 50px; */
  font-family: Agrandir Variable, Bold;
  transform: translate(-80%);
  text-align:left!important;
  border-color: #FFAA17 !important;
  padding-left: -30px;
}
.motivation{
  /* margin-bottom: 200px !important; */
  position:relative ;
  bottom: 25% !important;
  color: #FFFFFF;
}
   .errormsg{
     color: red;
   }