.logo{
    width: 150px;
    height:50px;
    margin-left: 50px;
}
.me-2{
    width: 500px !important;
    margin-left: 300px;
    background-color: #BCBCCB !important;
}
.logout_btn{
    color: #075575  !important;
    background-color: #FFFF;
    margin-left: 300px;
    border-color: #075575 !important ;
}
.navbar{
    position: fixed !important;
    top: 0px !important;
}
